td.sat {
  color: red;
}

td.sun {
  color: red;
}

.holiday {
  color: red;
}

th {
 background-color: #04AA6D;
  color: white;
}

table {
  width: 340px;
}

td.five {
  background-color: #FC4343;
}

td.two {
  background-color: #89FC43;
}

td.none {
  background-color: #F8FC43;
}
