<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta http-equiv="refresh" content="15">
    <link rel="stylesheet"  type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="static/css/calendar.css">
    <title>Сессия 5</title>
</head>
<body>


<!-- Begin page content -->
<main role="main" class="container-fluid">
    {% block content %}{% endblock %}
</main>
</body>
</html>
